<section class="app-dashboard">
  <div class="dashboard-wrapper">
    <div class="dashboard-content">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <div class="realtive">
            <img src="assets/images/owner.jpeg" class="rounded" width="150">
          </div>
          <div class="flex-grow ml-3">
            <div class="w-full flex flex-col md:flex-row justify-between items-center gap-5">
              <div class="flex-grow">
                <h3 class="text-primary-200 font-bold">Hello, I’m John!</h3>
                <p class="pr-0 md:pr-5 text-sm text-justify mt-4">
                  I’m the founder of User Admin Portal and on behalf of our team, i'd like to thank you for
                  joining our platform. We are here to ensure that you have the tools and support you need to achieve
                  your goals. Would you like a hand setting up your account or do you have any questions?
                  You can view our availability and set up a call with us when you’re ready.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>